@model MegatubeV2.User

@{

    ViewBag.Title = "Details";
    string extraClass = "";
    System.Globalization.CultureInfo ci_IT = new System.Globalization.CultureInfo("it-IT");
    System.Globalization.CultureInfo ci_EN = new System.Globalization.CultureInfo("en-GB");

    bool hasCredit = Model.CreditHistory != null;

    string period = "-";
    string firstAccreditation = "-";

    if (hasCredit && Model.CreditHistory.Count > 0)
    {
        period = Model.CreditHistory.Last().Date.Year.ToString();

    }
    else
    {
        Model.CreditHistory = new List<AccreditationsPerMonth>();
        extraClass = "hidden";
    }

}


<!-- START EDIT CONTENT -->
<div class="row">
    <div class="col-lg-12">
        <!-- START ROWs #1 -->
        @if (Model.AdministratorOf.Count == 0 && Model.OwnedChannels.Count == 0 && Model.RecruitedChannels.Count == 0)
        {
            <div class="row m-t-1">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="panel panel-default b-a-0">
                        <div class="panel-heading">

                            <a title="Edit" class="btn btn-default text-primary btn-sm action-button" href="@Url.Action("Delete",new { Id = Model.Id })"><i class="glyphicon glyphicon-trash"></i></a> <span>Delete User</span>

                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row m-t-1">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="panel panel-default b-a-0 bg-gray-dark">
                    <div class="panel-heading">Total Gross Earnings</div>
                    <div class="panel-body">
                        <h2 class="m-t-0 f-w-300">
                            @Model.TotalGrossEarning.ToString("C", ci_IT)
                        </h2>
                        <small>Since</small> <span class="text-success m-r-1">@Model.RegistrationDate.ToShortDateString()</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="panel panel-default b-a-0 bg-gray-dark">
                    <div class="panel-heading">Total Gross Paid<small class="pull-right text-gray-lighter">Since 1-Jan-@DateTime.Now.Year.ToString()</small></div>
                    <div class="panel-body">
                        <h2 class="m-t-0 f-w-300">@Model.TotalGrossPaid.ToString("C", ci_IT)</h2>
                        <small>Last payment</small> <span class="text-success m-r-1">01-01-2017</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="panel panel-default b-a-0 bg-gray-dark">
                    <div class="panel-heading">Total Gross To Pay<small class="pull-right text-gray-lighter">Since 1-Jan-@DateTime.Now.Year.ToString()</small></div>
                    <div class="panel-body">
                        <h2 class="m-t-0 f-w-300">@Model.TotalGrossToPay.ToString("C", ci_IT)</h2>
                        <small>&nbsp;</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="panel panel-default b-a-0 bg-gray-dark">
                    <div class="panel-heading">Total Net To Pay<small class="pull-right text-gray-lighter">Since 1-Jan-@DateTime.Now.Year.ToString()</small></div>
                    <div class="panel-body">
                        <h2 class="m-t-0 f-w-300">@Model.TotalNetToPay.ToString("C", ci_IT)</h2>
                        <small>&nbsp;</small>
                    </div>
                </div>
            </div>

        </div>
        <!-- END ROWs #1 -->
        <!-- START ROW Report Statisticts & Latest Transactions -->
        <div class="row m-t-3">
            <div class="col-lg-12 m-b-3 @extraClass">
                <!-- START Header -->
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <h2 class="m-b-2 m-t-0 f-w-300">Report Statisticts</h2> <small class="text-gray-lighter">Period: @period</small>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 col-sm-offset-4 col-xs-offset-2 col-md-offset-4 text-right">
                        <div class="btn-group" role="group" aria-label="...">
                            @*<button type="button" class="btn btn-sm btn-default">Items Sold</button>
                                <button type="button" class="btn btn-sm btn-default">Revenue</button>*@
                        </div>
                    </div>
                </div>
                <!-- END Header -->
                <!-- START Chart Higcharts -->

                <div class="highcharts-basic-column m-t-2"></div>

                <!-- END Chart Higcharts -->
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <h2 class="m-b-2 m-t-0 f-w-300">Contact Informations</h2>
                    </div>
                    <div class="col-md-6 col-sm-6 col-sm-6 text-right">

                        <a title="Edit" class="btn btn-default text-primary btn-sm action-button editNote" href="@Url.Action("Edit", "Users", new { id = Model.Id })"><i class="glyphicon glyphicon-pencil"></i></a>

                    </div>
                </div>
                @if (Model.Administrator != null)
                {
                    <ul class="nav nav-tabs">
                        <li role="presentation" id="userTab" class="tabSwitch active"><a href="javascript: void(0)">User</a></li>
                        <li role="presentation" id="tutorTab" class="tabSwitch"><a href="javascript: void(0)">Administrator</a></li>
                    </ul>
                }
                <table id="userDetailsTable" class="table table-condensed table-hover table-striped">
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Name)
                            </td>
                            <td class="userDetails">
                                @Html.DisplayFor(model => model.Name)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.LastName)
                            </td>

                            <td class="userDetails">
                                @Html.DisplayFor(model => model.LastName)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Mobile)
                            </td>

                            <td class="userDetails">
                                @Html.DisplayFor(model => model.Mobile)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.EMail)
                            </td>

                            <td class="userDetails">
                                @Html.DisplayFor(model => model.EMail)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Skype)
                            </td>

                            <td class="userDetails">
                                @Html.DisplayFor(model => model.Skype)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.BirthDate)
                            </td>

                            <td class="userDetails">
                                @if (Model.BirthDate != null)
                                {
                                    @Html.Raw(((DateTime)Model.BirthDate).ToShortDateString());
                                }
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.BirthPlace)
                            </td>

                            <td class="userDetails">
                                @Html.DisplayFor(model => model.BirthPlace)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.CompanyName)
                            </td>

                            <td class="userDetails">
                                @Html.DisplayFor(model => model.CompanyName)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.CompanyKind)
                            </td>

                            <td class="userDetails">
                                @Html.DisplayFor(model => model.CompanyKind)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.IBAN)
                            </td>

                            <td class="userDetails">
                                @Html.DisplayFor(model => model.IBAN)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.PIVAorVAT)
                            </td>

                            <td class="userDetails">
                                @Html.DisplayFor(model => model.PIVAorVAT)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.FullAddress)
                            </td>

                            <td class="userDetails">
                                @Html.DisplayFor(model => model.FullAddress)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.PostalCode)
                            </td>

                            <td class="userDetails">
                                @Html.DisplayFor(model => model.PostalCode)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.PaymentMethod)
                            </td>

                            <td class="userDetails">
                                @if (Model.PaymentMethod > 0)
                                {
                                    @PaymentMethodFactory.GetMethodFromDBCode((short)Model.PaymentMethod).ToString()
                                }
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.BICSWIFT)
                            </td>

                            <td class="userDetails">
                                @Html.DisplayFor(model => model.BICSWIFT)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.RegistrationDate)
                            </td>

                            <td class="userDetails">
                                @Html.DisplayFor(model => model.RegistrationDate)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Administrator)
                            </td>

                            <td class="userDetails">
                                @if (Model.Administrator != null)
                                {
                                    string adminfullName = Model.Administrator.Name + " " + Model.Administrator.LastName;
                                    <a href="@Url.Action("Details", "Users", new { id = Model.Administrator.Id })">@(adminfullName)</a>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>

                @if (Model.Administrator != null)
                {
                    <table id="tutorDetailsTable" class="table table-condensed table-hover table-striped hidden">
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Name)
                                </td>
                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.Name)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </td>

                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.LastName)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Mobile)
                                </td>

                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.Mobile)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.EMail)
                                </td>

                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.EMail)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Skype)
                                </td>

                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.Skype)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BirthDate)
                                </td>

                                <td class="userDetails">
                                    @if (Model.Administrator.BirthDate != null)
                                    {
                                        @Html.Raw(((DateTime)Model.Administrator.BirthDate).ToShortDateString());
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BirthPlace)
                                </td>

                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.BirthPlace)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.CompanyName)
                                </td>

                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.CompanyName)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.CompanyKind)
                                </td>

                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.CompanyKind)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.IBAN)
                                </td>

                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.IBAN)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.PIVAorVAT)
                                </td>

                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.PIVAorVAT)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.FullAddress)
                                </td>

                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.FullAddress)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.PostalCode)
                                </td>

                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.PostalCode)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.PaymentMethod)
                                </td>

                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.PaymentMethod)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BICSWIFT)
                                </td>

                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.BICSWIFT)
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.RegistrationDate)
                                </td>

                                <td class="userDetails">
                                    @Html.DisplayFor(model => model.Administrator.RegistrationDate)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>

            @{

                Html.RenderPartial("~/Views/_PartialNotes.cshtml", ViewBag.Notes as IEnumerable<ViewNote>);
            }
            <div class="highcharts-basic-column m-t-2"></div>
        </div>
        <div class="row m-t-3">
            @{
                Html.RenderPartial("~/Views/_PartialUserChannels.cshtml", Model.OwnedChannels);
                Html.RenderPartial("~/Views/_PartialUserRecChannels.cshtml", Model.RecruitedChannels);
            }
        </div>
        <div class="row m-t-3">
            @{
                Html.RenderPartial("~/Views/_PartialAdministratedUsers.cshtml", Model.AdministratorOf);
            }
        </div>
        <div class="row m-t-3">
            @{
                Html.RenderPartial("~/Views/_PartialPayments.cshtml", Model.Payments);
            }
        </div>
        <div class="row m-t-3">
            @{
                Html.RenderPartial("~/Views/_PartialAccreditations.cshtml", Model.Accreditations);
            }
        </div>
    </div>
</div>
<!-- END EDIT CONTENT -->
<script src="~/assets/vendor/js/highstock.min.js"></script>
<script src="~/assets/javascript/highchart-themes/highcharts&highstock-theme.js"></script>
<script src="~/assets/javascript/highchart-themes/highcharts-settings.js"></script>
<script language="javascript">
    $(document).ready(function () {
        $('#breadCrumbOl').append('<li class="active">@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.LastName)</li>');

        $('#userChannelsTable').DataTable({
            "pageLength": 5
        });
        $('#userRecChannelsTable').DataTable({
            "pageLength": 5
        });
        $('#administratedUsersTable').DataTable({
            "pageLength": 5
        });

        Dashboard.Helpers.elementExists('.highcharts-basic-column', function () {
            $(this).highcharts({
                chart: {
                    type: 'column',
                    backgroundColor: 'transparent',
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [
                        @for(int i=0;i< Model.CreditHistory.Count;i++)
                        {
                            @Html.Raw((i > 0 ? "," : "") + "'" + Model.CreditHistory[i].Date.ToString("MMM", ci_EN) + "'");
                        }
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    }
                        },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.2f} &euro;</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Gross',
                    data: [
                        @for(int i=0;i< Model.CreditHistory.Count;i++)
                        {
                            @Html.Raw((i > 0 ? "," : "") + Model.CreditHistory[i].Amount.ToString().Replace(',', '.'));
                        }
                    ]

                }]
            });
        });


        $('.tabSwitch').click(function () {
            if ($(this).attr('id') == "userTab") {
                $('#tutorTab').removeClass("active");
                $('#userDetailsTable').removeClass("hidden");
                $('#tutorDetailsTable').addClass("hidden");
            }
            else {
                $('#userTab').removeClass("active");
                $('#userDetailsTable').addClass("hidden");
                $('#tutorDetailsTable').removeClass("hidden");
            }
            $(this).addClass("active");
        });


    });
</script>




