@model IEnumerable<MegatubeV2.User>

@{
    ViewBag.Title = "Index";
}

<script src="~/assets/vendor/js/jquery.dataTables.min.js"></script>
<script src="~/assets/vendor/js/dataTables.bootstrap.min.js"></script>

<script language="javascript">

    $(document).ready(function () {
        $('#userTable').DataTable({
            "pageLength": 500,
            language: {
                paginate: {
                    next: '&raquo;',
                    previous: '&laquo;'
                }
            },
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });
    });
</script>
<div class="page-header">
    <h2>Users</h2>
</div>
<p>
    @Html.ActionLink("Create New User", "Create")
</p>

<div class="row m-b-3">
    @using (Html.BeginForm("Index", "Users", FormMethod.Post, new { @class = "", id = "userTypeSelect", enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label class="col-sm-2 control-label">Show users of type:</label>
            <div class="col-sm-5">

                @Html.DropDownList("SearchType", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-sm-5">
                <input type="submit" value="Show" class="btn btn-default" />

            </div>
        </div>
    }
</div>
<table class="table table-condensed table-hover table-striped" id="userTable">
    <thead>
        <tr>
            <th class="small text-muted text-uppercase">
                <strong>@Html.DisplayNameFor(model => model.EMail)</strong>
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.CompanyKind)
            </th>
            <th class="no-sort"> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyKind)
                </td>
                <td nowrap="nowrap">
                    @*@if (item.AdministratorOf.Count == 0 && item.OwnedChannels.Count == 0 && item.RecruitedChannels.Count == 0)
                        {
                            <a title="Edit" class="btn btn-default text-primary btn-sm action-button" href="@Url.Action("Delete",new { Id = item.Id })"><i class="glyphicon glyphicon-trash"></i></a>
                        }*@
                    <a title="Edit" class="btn btn-default text-primary btn-sm action-button" href="@Url.Action("Edit", new { Id = item.Id })"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a title="Details" class="btn btn-default text-danger btn-sm action-button" href="@Url.Action("Details",new { Id = item.Id })"><i class="glyphicon glyphicon-arrow-right"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr/ >
