@model IEnumerable<MegatubeV2.ViewChannel>

@{
    ViewBag.Title = "Index";
    string[] ViewTypeArr = { "Associated", "Not associated", "Not active" };
    int selectedViewType = 0;

    if (ViewBag.Active == false)
    {
        selectedViewType = 2;
    }
    else if (ViewBag.Referenced == false)
    {
        selectedViewType = 1;
    }


}

<script src="~/assets/vendor/js/jquery.dataTables.min.js"></script>
<script src="~/assets/vendor/js/dataTables.bootstrap.min.js"></script>

<script language="javascript">
    $(document).ready(function () {
        $('#userTable').DataTable({
            "pageLength": 100,
            language: {
                paginate: {
                    next: '&raquo;',
                    previous: '&laquo;'
                }
            },
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });
    });

    function UpdateFilter(){

        var referenced = "true";
        var active = "true";

        if ($("#channelsType").val() == "2")
            active = "false";
        else if ($("#channelsType").val() == "1")
            referenced = "false";

        $('#referenced').val(referenced);
        $('#active').val(active);
        $('#viewChannelsForm').submit();

    }
</script>

<div class="row">
        <div class="form-group">
            <label class="col-sm-3 control-label">Show me:</label>
            <div class="col-sm-5">
                <select class="form-control" id="channelsType" action="@Url.Action("Index", "ViewChannels")">
                    @{
                        string selected = "";
                        for (int i = 0; i < ViewTypeArr.Length; i++)
                        {

                            if (i == selectedViewType)
                            {
                                selected = "selected";
                            }
                            else
                            {
                                selected = "";
                            }
                            @Html.Raw("<option value=\"" + (i) + "\"" + selected + ">" + ViewTypeArr[i] + "</option>");
                        }
                    }
                </select>
            </div>
    @using (Html.BeginForm("Index", "ViewChannels", FormMethod.Post, new { @class = "form-horizontal", id = "viewChannelsForm", enctype = "multipart/form-data" }))
    {
            <div class="col-sm-4">
                <input type="hidden" name="referenced" id="referenced" value="true" />
                <input type="hidden" name="active" id="active" value="true" />
                <a href="javasctipt:{}" onclick="UpdateFilter(); return false;" role="button" class="btn btn-default">Show</a>
            </div>
    }
        </div>
</div>

<table class="table table-condensed table-hover table-striped" id="userTable">
    <thead>
        <tr>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="small text-muted text-uppercase">
                <strong>
                    @Html.DisplayNameFor(model => model.Id)
                </strong>
            </th>
            <th class="small text-muted text-uppercase">
                Owner Name
            </th>
            <th class="small text-muted text-uppercase">
                Recruiter Name
            </th>
            <th class="small text-muted text-uppercase">
                Registration
            </th>
            <th class="small text-muted text-uppercase">
                %Owner
            </th>
            <th class="small text-muted text-uppercase">
                %Recruiter
            </th>
            <th class="small text-muted text-uppercase">
                %Network
            </th>
            <th class="no-sort"> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td class="text-mint-green">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        string sUrl = "https://www.youtube.com/channel/UC" + item.Id;

                        if (item.IsActive)
                        {
                            <a href="@sUrl" target="_blank">@item.Id</a>
                        }
                        else
                        {
                            <a href="@sUrl" target="_blank" class="text-gray-dark">@item.Id</a>
                        }
                    }
                </td>
                <td>
                    <a href="@Url.Action("Details", "Users", new { id = item.OwnerId })">@(item.OwnerName)</a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Users", new { id = item.RecruiterId })">@(item.RecruiterName)</a>
                </td>
                <td>
                    <span class='hide'>@item.RegistrationDate.Ticks</span>
                    @item.RegistrationDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PercentOwner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PercentRecruiter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PercentMegatube)
                </td>
                <td nowrap="nowrap">
                    <a title="Edit" class="btn btn-default text-primary btn-sm action-button" href="@Url.Action("Edit","Channels",new { Id = item.Id })"><i class="glyphicon glyphicon-pencil"></i></a>
                    @*<a title="Details" class="btn btn-default text-danger btn-sm action-button" href=""><i class="glyphicon glyphicon-arrow-right"></i></a>*@
                </td>
            </tr>
                        }
    </tbody>
</table>
