@model IEnumerable<MegatubeV2.Contract>

@{
    ViewBag.Title = "Index";
}



@using (Html.BeginForm("Upload", "Contracts", FormMethod.Post, new { @class = "m-t-3", id = "uploadForm", enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <div class="col-lg-3">
            <input class="form-control" type="file" name="file" size="40" placeholder="load Pdf" />
        </div>
        <div class="col-lg-3">
            <input class="form-control" type="text" name="userId" size="40" placeholder="User Id" />
        </div>
        <div class="col-lg-3">
            <input class="form-control" type="date" name="expireDate" size="40" placeholder="select expire date" />
        </div>
        <div class="col-lg-3">
            <a href="javasctipt:{}" onclick="document.getElementById('uploadForm').submit(); return false;" role="button" class="btn btn-block m-b-2 btn-primary">Upload</a>
        </div>
    </div>
}






<h2>Index</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FilenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FilenName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            <a href="Download?contractId=@item.Id">Download</a>
        </td>
    </tr>
}

</table>
