@model MegatubeV2.Models.PaymentData

@{
    IPaymentMethod method = PaymentMethodFactory.GetMethodFromDBCode(Model.Administrator.PaymentMethod.Value);
}

@using (Html.BeginForm("Create", "Payments", FormMethod.Post, new { @class = "m-t-3", id = "paymentsCreate", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Payment</h4>
        <hr />
        <div class="form-group m-b-0">
            <label class="col-xs-4 control-label">User</label>
            <div class="col-xs-8">
                <p class="form-control-static">
                    @{
                        string Name = Model.User.Name + " " + Model.User.LastName;
                        @Html.Raw(Name)
                    }
                </p>
            </div>
        </div>
        <div class="form-group m-b-0">
            <label class="col-xs-4 control-label">Payment mode</label>
            <div class="col-xs-8">
                <p class="form-control-static">
                    @method.ToString()
                </p>
            </div>
        </div>
        <div class="form-group m-b-0">
            <label class="col-xs-4 control-label">From</label>
            <div class="col-xs-8">
                <p class="form-control-static">
                    @Model.From
                </p>
            </div>
        </div>
        <div class="form-group m-b-0">
            <label class="col-xs-4 control-label">To</label>
            <div class="col-xs-8">
                <p class="form-control-static">
                    @Model.To
                </p>
            </div>
        </div>
        <div class="form-group m-b-0">
            <label class="col-xs-4 control-label">Gross</label>
            <div class="col-xs-8">
                <p class="form-control-static">
                    @Model.Gross
                </p>
            </div>
        </div>
        <div class="form-group m-b-0">
            <label class="col-xs-4 control-label">Net</label>
            <div class="col-xs-8">
                <p class="form-control-static">
                    @Model.Net
                </p>
            </div>
        </div>

        <table class="table table-condensed table-hover table-striped" id="paymentCreateTable">
            <thead>
                <tr>
                    <th>
                        Reason
                    </th>
                    <th>
                        Gross
                    </th>
                    <th>
                        Date From
                    </th>
                    <th>
                        Date To
                    </th>
                    <th>
                        Type
                    </th>
                </tr>
            </thead>
            <tbody>

            @foreach (var item in Model.Accreditations)
            {
                Accreditation.AccreditationMainType mainType    = (Accreditation.AccreditationMainType)item.Type;
                Accreditation.AccreditationSubType subType      = (Accreditation.AccreditationSubType)item.SubType;
                string mainTypeText                             = Accreditation.AccreditationMainTypeText(mainType);
                string subTypeText                              = Accreditation.AccreditationSubTypeText(subType);

                <tr>
                    <td>@mainTypeText @item.Channel.Name</td>
                    <td>@item.GrossAmmount</td>
                    <td>@item.DateFrom.ToShortDateString()</td>
                    <td>@item.DateTo.ToShortDateString()</td>
                    <td>@subTypeText</td>
                </tr>
            }
            </tbody>
        </table>
        
        @{ 
            DateTime currentDate = DateTime.Today;
            string currentDateStr = currentDate.ToString("yyyy-MM-dd");//.Year.ToString("YYYY") + "-" + currentDate.Month.ToString("MM") + "-" + currentDate.Day.ToString("dd");

        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" name="userId" value="@Model.User.Id" />
                <input type="text" name="receiptCounter" class="form-inline" style="width:60px" value="@Model.ReceiptCount" />
                <input type="date" value="@currentDateStr" class="btn btn-default" />
                <a href="javasctipt:{}" onclick="$('#paymentsCreate').submit(); return false;" role="button" class="btn btn-default">Proceed</a>
            </div>
        </div>
    </div>
  }
<script language="javascript">

    $(document).ready(function () {
        $('#paymentCreateTable').DataTable({
            "pageLength": 50
        });
    });
</script>
