@model IEnumerable<MegatubeV2.Payment>

@{
    ViewBag.Title = "Index";
    string[] monthsArr = { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
    DateTime currentDate = DateTime.Today;
    int selectedMonth = ViewBag.SelectedMonth>0? ViewBag.SelectedMonth:currentDate.Month;
    int selectedYear = ViewBag.SelectedYear > 0 ? ViewBag.SelectedYear : currentDate.Year;

    System.Globalization.CultureInfo ci_IT = new System.Globalization.CultureInfo("it-IT");

}




    @using (Html.BeginForm("Index", "Payments"))
    {
        <div class="row">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Select a period</label>
                    <div class="col-sm-3">
                        <select class="form-control" name="Months">
                            @{
                                string selected = "";
                                for (int i = 0; i < monthsArr.Length; i++)
                                {

                                    if (i + 1 == selectedMonth)
                                    {
                                        selected = "selected";
                                    }
                                    else
                                    {
                                        selected = "";
                                    }
                                    @Html.Raw("<option value=\"" + (i + 1) + "\"" + selected + ">" + monthsArr[i] + "</option>");
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" name="Years">
                            @{
                                for (int i = currentDate.Year; i >= 2010; i--)
                                {
                                    if (i == selectedYear)
                                    {
                                        selected = "selected";
                                    }
                                    else
                                    {
                                        selected = "";
                                    }
                                    @Html.Raw("<option value=\"" + i + "\"" + selected + ">" + i + "</option>");
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>

                </div>
            </form>
        </div>
     }

   


<table class="table" id="paymentsTable">
    <thead>
        <tr>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th class="small text-muted text-uppercase">
                Receiver
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Gross)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Net)
            </th>
            <th class="small text-muted text-uppercase">
                Payment type
            </th>
            <th class="small text-muted text-uppercase">
                From
            </th>
            <th class="small text-muted text-uppercase">
                To
            </th>
            <th class="small text-muted text-uppercase">
                Receipt
            </th>
            <th class="no-sort"> </th>
            <th class="no-sort"> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><span class='hide'>@item.Date.Ticks</span>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @{
                        string name = item.User.LastName + @" " + @item.User.Name;

                    }
                    <a href="@Url.Action("Details", "Users", new { id = item.UserId })">@name</a>
                </td>
                <td>
                    @item.Gross
                </td>
                <td>
                    @item.Net
                </td>
                <td>
                    @{
                        string paymentType = PaymentMethodFactory.GetMethodFromDBCode(item.PaymentType).ToString();
                     }

                    @paymentType
                </td>
                <td>
                    <span class='hide'>@item.DateFrom.Ticks</span>
                    @item.DateFrom.ToShortDateString()
                </td>
                <td>
                    <span class='hide'>@item.DateTo.Ticks</span>
                    @item.DateTo.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiptCount)
                </td>
                @{ 
                    bool fullData = item.Accreditations.Count > 0;
                }

                <td>
                    @if (fullData)
                    {
                        <a href="/Payments/DownloadReceipt/@item.Id" role="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-download-alt"></span> Download
                        </a>
                    }
                </td>
                <td>
                    @if (fullData)
                    {
                        <button type="button" class="btn btn-default btn-sm revertButton" data-paymentid="@item.Id"><span class="glyphicon glyphicon-trash"></span> Revert</button>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
<script language="javascript">

    $(document).ready(function () {
        $('#paymentsTable').DataTable({
            "pageLength": 100,
            "order": [[0, "desc"]],
            language: {
                paginate: {
                    next: '&raquo;',
                    previous: '&laquo;'
                }
            },
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false
            }]
        });

        $(".revertButton").click(function myfunction() {
            var paymentId = $(this).data("paymentid");
            $('#revertLink').prop("href", "/Payments/Revert/" + paymentId);
            $('#noteModal').modal('show');
        });
    });
</script>
<!-- Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post">
                <input type="hidden" id="noteModalId" name="noteModalId" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#xD7;</span></button>
                    <h4 class="modal-title" id="noteModalLabel"></h4>
                </div>
                <div class="modal-body" style="min-height:140px">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <h1 class="text-danger">Are you sure you want to revert the payment?</h1>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="#" id="revertLink" role="button" class="btn btn-danger">Revert</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
