@model IEnumerable<MegatubeV2.Payment>

@{
    ViewBag.Title = "Index";
    string[] monthsArr = { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
    DateTime currentDate = DateTime.Today;
    int selectedMonth = Request.Params["m"] != null && Request.Params["m"].Length > 0 ? int.Parse(Request.Params["m"]) : currentDate.Month;
    int selectedYear = Request.Params["y"] != null && Request.Params["y"].Length > 0 ? int.Parse(Request.Params["y"]) : currentDate.Year;
    System.Globalization.CultureInfo ci_EN = new System.Globalization.CultureInfo("en-EN");
}

<div class="row">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Select a period</label>
            <div class="col-sm-3">
                <select class="form-control" name="m">
                    @{
                        string selected = "";
                        for (int i = 0; i < monthsArr.Length; i++)
                        {

                            if (i + 1 == selectedMonth)
                            {
                                selected = "selected";
                            }
                            else
                            {
                                selected = "";
                            }
                            @Html.Raw("<option value=\"" + (i + 1) + "\"" + selected + ">" + monthsArr[i] + "</option>");
                        }
                    }
                </select>
            </div>
            <div class="col-sm-2">
                <select class="form-control" name="y">
                    @{
                        for (int i = currentDate.Year; i >= 2010; i--)
                        {
                            if (i == selectedYear)
                            {
                                selected = "selected";
                            }
                            else
                            {
                                selected = "";
                            }
                            @Html.Raw("<option value=\"" + i + "\"" + selected + ">" + i + "</option>");
                        }
                    }
                </select>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>

        </div>
    </form>
</div>

<table class="table" id="paymentsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Receiver
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gross)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Net)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptCount)
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><span class='hide'>@item.Date.Ticks</span>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @{
                        string name = item.User.LastName + @" " + @item.User.Name;

                    }
                    <a href="@Url.Action("Details", "Users", new { id = item.UserId })">@name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gross)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Net)
                </td>
                <td>
                    @{
                        string paymentType = PaymentMethodFactory.GetMethodFromDBCode(item.PaymentType).ToString();
                     }

                    @paymentType
                </td>
                <td>
                    @item.DateFrom.ToShortDateString()
                </td>
                <td>
                    @item.DateTo.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiptCount)
                </td>
                @{ 
                    bool fullData = item.Accreditations.Count > 0;

                }

                <td>
                    @if (fullData)
                    {
                        <a href="/Payments/DownloadReceipt/@item.Id" role="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-download-alt"></span> Download
                        </a>
                    }
                </td>
                <td>
                    @if (fullData)
                    {
                        <a href="/Payments/Revert/@item.Id" role="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span> Revert
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
<script language="javascript">

    $(document).ready(function () {
        $('#paymentsTable').DataTable({
            "pageLength": 50,
            "order": [[0, "desc"]]
        });
    });
</script>
