@model IEnumerable<MegatubeV2.Payment>


<div class="col-xs-12">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6">
            <h5 class="m-b-0 m-t-0 f-w-300">Payments</h5>
        </div>
        <div class="col-md-4 col-sm-4 col-sm-4 col-sm-offset-4 col-md-offset-4 col-xs-offset-2 text-right">
            <button type="button" class="btn btn-sm btn-default">See All<i class="fa m-l-1 fa-angle-right"></i> </button>
        </div>
    </div>
    <table class="table table-condensed table-hover table-striped" id="paymentsTable">
        <thead>
            <tr>
                <th class="small text-muted text-uppercase">
                    <strong>Type</strong>
                </th>
                <th class="small text-muted text-uppercase">
                    <strong>Amount</strong>
                </th>
                <th class="small text-muted text-uppercase">
                    <strong>Receipt</strong>
                </th>
            </tr>
        </thead>
        <tbody>            
            @{
                foreach (var item in Model)
                {                    
                    <tr>
                        <td class="v-a-m">
                            <div class="media media-auto">
                                <div class="media-left">
                                    <a href="javascript: void(0)">
                                        <img class="media-object img-circle" style="width: 35px" src="https://s3.amazonaws.com/uifaces/faces/twitter/lvovenok/128.jpg" alt="Avatar">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <span class="media-heading text-white">@item.PaymentType</span>
                                    <br>
                                    <span class="media-heading">
                                        <span>@item.Date.ToShortDateString()</span>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="v-a-m"><span>@item.Amount</span></td>
                        <td class="v-a-m"><i class="fa fa-circle text-success m-r-1"></i>@item.Receipt</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Receipt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receipt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@

<script src="~/assets/vendor/js/jquery.dataTables.min.js"></script>
<script src="~/assets/vendor/js/dataTables.bootstrap.min.js"></script>

<script language="javascript">

    $(document).ready(function () {
        $('#paymentsTable').DataTable({
            "pageLength": 5
        });
    });
</script>
