@model IEnumerable<MegatubeV2.ViewChannelBalance>

@{



}

<script src="~/assets/vendor/js/jquery.dataTables.min.js"></script>
<script src="~/assets/vendor/js/dataTables.bootstrap.min.js"></script>

<script language="javascript">
    $(document).ready(function () {
        $('#userTable').DataTable({
            "pageLength": 100,
            language: {
                paginate: {
                    next: '&raquo;',
                    previous: '&laquo;'
                }
            },
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });

        $('#breadCrumbOl').append('<li class="active">Balance</li>');
    });

    function UpdateFilter() {

        var referenced = "true";
        var active = "true";

        if ($("#channelsType").val() == "2")
            active = "false";
        else if ($("#channelsType").val() == "1")
            referenced = "false";

        $('#referenced').val(referenced);
        $('#active').val(active);
        $('#viewChannelsForm').submit();

    }
</script>

<div class="row">
    @using (Html.BeginForm("Balance", "Channels", FormMethod.Get, new { @class = "form-horizontal", id = "channelsBalanceForm", enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Select year:</label>
                <div class="col-sm-2">
                    @Html.DropDownList("Years", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-default">Show</button>
                </div>
            </div>
        </div>
    }
</div>

<table class="table table-condensed table-hover table-striped" id="userTable">
    <thead>
        <tr>
            <th class="no-sort hidden">
                
            </th>
            <th class="small text-muted text-uppercase">
                <strong>
                    @Html.DisplayNameFor(model => model.Name)
                </strong>
            </th>
            <th class="small text-muted text-uppercase">
                Owner Name
            </th>
            <th class="small text-muted text-uppercase">
                Recruiter Name
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Jan)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Feb)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Mar)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Apr)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.May)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Jun)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Jul)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Aug)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Sep)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Oct)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Nov)
            </th>
            <th class="small text-muted text-uppercase">
                @Html.DisplayNameFor(model => model.Dec)
            </th>
            <th class="small text-muted text-uppercase">
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
                string YTurl = "https://www.youtube.com/channel/UC" + item.ChannelId;
            
            <tr>
                <td class="hidden">
                    @item.ChannelId
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Channels", new { id = item.ChannelId })">@(item.Name)</a><br />
                    <a href="@YTurl" target="_blank" class="text-muted">
                        @item.ChannelId
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Users", new { id = item.OwnerId })">@(item.OwnerName)</a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Users", new { id = item.RecruiterId })">@(item.RecruiterName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.May)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jun)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nov)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalYearEarnings)
                </td>
            </tr>
        }
    </tbody>
</table>
