@model IEnumerable<MegatubeV2.PaymentAlert>

@{
    ViewBag.Title = "Index";
}



@using (Html.BeginForm("GenerateSepa", "PaymentAlerts", FormMethod.Post, new { @class = "m-t-3", id = "payAlerts", enctype = "multipart/form-data" }))
{
<table class="table" id="alertsTable">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gross)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Net)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input name="ids" type="checkbox" value="@item.UserId" />
                </td>
                <td>
                    @(item.User.LastName + " " + item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gross)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Net)
                </td>
                <td>
                    @item.CreationDate.ToShortDateString()
                </td>
                <td>
                    @item.UpdateDate.ToShortDateString()
                </td>
                <td>
                    @if ((item.User.FiscalAdministratorId != null && item.User.Administrator.PaymentMethod != null) || (item.User.FiscalAdministratorId == null && item.User.PaymentMethod != null))
                    {
                        <a href="/Payments/Create?userId=@item.UserId" role="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-euro"></span> Pay
                        </a>
                    }
                    else
                    {
                        <p>Missing Payment Method</p>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href="javasctipt:{}" onclick="$('#payAlerts').submit(); return false;" role="button" class="btn btn-default">Pay selected</a>
    </div>
</div>

}
<script language="javascript">

    $(document).ready(function () {
        $('#alertsTable').DataTable({
            "pageLength": 50
        });
    });
</script>
