@model IEnumerable<MegatubeV2.PaymentAlert>

@{
    ViewBag.Title = "Index";

}



<table class="table" id="alertsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gross)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Net)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Gross)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Net)
                </td>
                <td>
                    @item.CreationDate.ToShortDateString()
                </td>
                <td>
                    @item.UpdateDate.ToShortDateString()
                </td>
                <td>
                    @(item.User.LastName+" "+item.User.Name)
                </td>
                <td>
                    @Html.ActionLink("Pay", "Create", "Payments", new { userId = item.UserId }, null)
                </td>
            </tr>
        }
    </tbody>

</table>
<script language="javascript">

    $(document).ready(function () {
        $('#alertsTable').DataTable({
            "pageLength": 50
        });
    });
</script>
